<h1> <%= @total %> Results </h1>

<h3> Top 10 Results</h3>
<% @food_items.each do |food| %>
  <ul class="foods">
    <li id="gtin"> GTIN/UPC: <%= food.gtin_upc %> </li>
    <li id="description"> Description: <%= food.description %> </li>
    <li id="owner"> Brand Owner: <%= food.brand_owner %> </li>
    <li id="ingredients"> Ingredients: <%= food.ingredients %> </li>
  </ul><br><br>
<% end %>
